.cart-container {
    background-color: rgba(0, 0, 0, 0.329);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;  
    right: 0px;
    display: flex;
    justify-content: end;
    opacity: 0;
    z-index: -1;
}

.main-cart {
    height: 100%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;

    /* To make cart slide smoothly */
    transform: translateX(100%);
    transition: transform 0.4s ease;
}


.cart-container.isOpen {
    opacity: 1;
    z-index: 1;

    /* To make cart slide smoothly */
    transition: opacity 0.4s ease;
}

/* To make cart slide smoothly */
.cart-container.isOpen .main-cart {
    transform: translateX(0);
}

.cart-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: yellow;
}

.cart-header>h1{
    margin-left: 25px;
}

.cart-header>i{
    font-size: 50px;
    margin-right: 25px;
    cursor: pointer;
}

.cart-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-color: green;
}