*{
    margin: 0;
    font-family: sans-serif;
}

.newtyres-parent{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f4f5f6;
}

.sub-newtyres-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.sub-newtyres-parent>div{
    display: flex;
    justify-content: center;
}

.newty-description{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.newty-description>h1{
    font-size: 65px;
}

.newty-description>p{
    width: 60%;
    margin-top: 10px;
}

.crads-newty{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card1{
    width: 25%;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

.cards-img{
    height: 50%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: grey;
}

.carrd-descri{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 15px;
    padding-top: 8px;
}

.carrd-descri>button{
    width: 95%;
    padding: 6px;
    border-radius: 10px;
}