*{
    margin: 0;
    font-family: sans-serif;    
}

html{
  scroll-behavior: smooth;
}

.parent-container{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}