@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: sans-serif;  
    font-variant-numeric: tabular-nums;
    overflow-x: hidden;
}

h1,h2,i,span{
    font-family: "Bricolage Grotesque", sans-serif;
    overflow-y: hidden;
}

p,a{
    font-family: "Jost", sans-serif;
    overflow-y: hidden;
}

html{
  scroll-behavior: smooth;
}

.parent-container{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}