@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.parent-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: #f4f5f6;
}

.parent-contact>h1{
    font-size: 40px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.p2{
    margin-top: 5px;
    text-align: center;
    font-family: "Jost", sans-serif;
}

.call-links{
    display: flex;
    flex-direction: column;
}

.call-links>a{
    margin-top: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgba(215, 215, 215, 0.747);
    text-align: center;
    text-decoration: none;
    color: black;
}

.call-links>a:hover{
    background-color: rgba(198, 249, 198, 0.774);
    border: 1px solid green;
    cursor: pointer;
    color: green;
}

.call-links>i>a{
    font-weight: 700;
}

.call{
    margin-top: 30px;
}

.call>a{
    color: black;
    text-decoration: none;
}
