@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.parent-faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: auto;
    padding-bottom: 45px;
}

.faq-leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}

.faq-leftside>h1{
    font-size: 58px;
    padding-top: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.faq-leftside>p{
    padding-top: 15px;
    width: 50%;
    text-align: center;
    font-family: "Jost", sans-serif;
}

.faq-rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 45%;
    height: auto;
    padding-top: 50px;
}

.faq-rightside-div1{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f4f5f6;
    border-radius: 10px;
    overflow: hidden;
    max-height: 12px;
    transition: max-height 0.4s ease;
}

.faq-rightside-div1:hover{
    max-height: 90px;
    cursor: pointer;
}
.faq-rightside-div1-p1{
    padding-bottom: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.faq-rightside-div2{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f4f5f6;
    border-radius: 10px;
    overflow: hidden;
    max-height: 12px;
    transition: max-height 0.4s ease;
}

.faq-rightside-div2:hover{
    max-height: 260px;
    cursor: pointer;
}

.faq-rightside-div1-p1>{
    padding-bottom: 20px;
}



.faq-rightside-div3{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f4f5f6;
    border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    max-height: 12px;
    transition: max-height 0.4s ease;
}

.faq-rightside-div3:hover{
    max-height: 90px;
    cursor: pointer;
}

.faq-rightside-div3-p1{
    padding-bottom: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
}