

.parent-faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: #f4f5f6;
}

.faq-leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}

.faq-leftside>h1{
    font-size: 58px;
    padding-top: 20px;
}

.faq-leftside>p{
    padding-top: 15px;
    width: 50%;
    text-align: center;
    /* font-size: 30px; */
}

.faq-leftside-button{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}

.faq-rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 45%;
    height: auto;
    padding-top: 50px;
}

.faq-rightside-div1{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-height: 12px;
    transition: max-height 0.4s ease;
}

.faq-rightside-div1:hover{
    max-height: 90px;
    cursor: pointer;
}
.faq-rightside-div1-p1{
    padding-bottom: 20px;
}

.faq-rightside-div2{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    max-height: 12px;
    transition: max-height 0.4s ease;
}

.faq-rightside-div2:hover{
    max-height: 240px;
    cursor: pointer;
}

.faq-rightside-div2-p1{
    padding-bottom: 20px;
}

.faq-rightside-div3{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    max-height: 12px;
    transition: max-height 0.4s ease;
}

.faq-rightside-div3:hover{
    max-height: 90px;
    cursor: pointer;
}

.faq-rightside-div3-p1{
    padding-bottom: 20px;
}