.feature-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-left: 100px;
}

.feature-words{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 50px;
}

.feature-words-p1{
    padding-bottom: 10px;
}

.feature-words>h1{
    font-size: 4rem;
    padding-bottom: 20px;
}

.feature-words-p2{
    line-height: 30px;
    padding-bottom: 50px;
}

.feature-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 261px;
    height: 250px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 35px;
}

.card-icons>p{
    padding: 20px;
    background-color: lightblue;
    border-radius: 50%;
    border: 1px solid black;
    width: 40px;
    display: flex;
    justify-content: center;
}

.card-icons>p>i{
    font-size: 40px;
}

.descri>h2{
    font-size: 23px;
}