.parent-footer{
    background: linear-gradient(to bottom, #00000000, #9a9c9e);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.sub-parent-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
    width: 80%;
    height: 500px;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
}

.link{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link>h2{
    padding-bottom: 20px;
}

.link>i{
    text-decoration: none;
}

.open{
    margin-left: 5px;
}

.sc2{
    margin-top: 20px;
    gap: 5px;
}

.line{
    width: 90%;
}

.line>hr{
    height: 0.5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.hero{
    
}

.hero-bg-text {
    width: max-content;
    font-size: 100px; 
    opacity: 0.1; 
    color: black;
}