nav{
    width: 100%;

}

.nav-bar{
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    top: 0;
}

.burger-icon{
    display: none;
}

.links{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links>a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.icon{
    display: none;
}