
.parent-offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 900px;
}

.offer-words{
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

.offer-words-h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}

.offer-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    width: auto;
    gap: 20px;
    padding-top: 30px;
}


.item-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 320px;
    
}

.card-foto{
    overflow: hidden;
    height: auto;
}

.card-foto>img{
    width: 400px;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-description{
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 10px;

}

.card-description-button{
    border: 1px solid black;
    border-radius: 12px;
    padding: 7px 15px;
}


