
.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.tyre-description{
    width: 50%;
}

.first-description>h1{
    font-size: 70px;
}

.second-description>p{
    font-size: 30px;
}

.buy-button-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
}

.buy-button{
    padding: 15px;
    border-radius: 20px;
    width: 25%;
}

.tyre-image{
    height: auto;
    width: auto;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.tyre-image>img{
    width: 400px;
}